/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
@font-face {
  font-family: "Karrick";
  src: url("assets/fonts/Karrik-Regular.woff") format("woff"),
    url("assets/fonts/Karrik-Regular.woff2") format("woff2");
}

body {
  background: white;

  font-family: "Karrick";
  font-size: 16px;
  color: rgb(39, 39, 39);

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

span {
  font-size: 10rem;
}

button {
  font-family: inherit;
  font-size: 1.25rem;
  text-transform: capitalize;

  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(68, 68, 68);

  cursor: pointer;
}
/******************************************
/* LAYOUT
/*******************************************/
main {
  flex-flow: column;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3rem;
  gap: 30px;
}

main,
footer,
.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-container {
  height: 30vh;
  width: 30vw;

  background-color: rgba(223, 237, 240, 0.472);
  border-radius: 10px;
}

/******************************************
/* RESPONSIVE
/*******************************************/

@media screen and (max-width: 767px) {
  .number-container {
    width: 80vw;
  }
  footer {
    flex-flow: column;
    gap: 15px;
  }
}
